@import 'tailwindcss/base';
@import 'tailwindcss/components';

@layer components {
    .opened span:nth-child(1) {
        top: 7px;
        width: 0%;
        left: 50%;
    }

    .opened span:nth-child(2) {
        transform: rotate(45deg);
    }

    .opened span:nth-child(3) {
        transform: rotate(-45deg);
    }

    .opened span:nth-child(4) {
        top: 7px;
        width: 0%;
        left: 50%;
    }

    .opened .showMenu {
    }

    .btn {
        @apply bg-coverBrand hover:bg-gray-200 active:bg-gray-300 rounded-2xl px-[15px];
    }

    .modal {
        font-size: 12px;
    }
    .modal > .header {
        width: 100%;
        border-bottom: 1px solid gray;
        font-size: 18px;
        text-align: center;
        padding: 5px;
    }
    .modal > .content {
        width: 100%;
        padding: 10px 5px;
    }
    .modal > .actions {
        width: 100%;
        padding: 10px 5px;
        margin: auto;
        text-align: center;
    }
    .modal > .close {
        cursor: pointer;
        position: absolute;
        display: block;
        padding: 2px 5px;
        line-height: 20px;
        right: -10px;
        top: -10px;
        font-size: 24px;
        background: #ffffff;
        border-radius: 18px;
        border: 1px solid #cfcece;
    }
}
@import 'tailwindcss/utilities';
